In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.0       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [21]:
pandas = read_tsv("~/RIDIR/Datasets/AreaTablesValidation/geopandas_area_table.tsv", col_names = c("SID", "TID", "pandas")) %>%
    mutate(SID = paste0("S",SID), TID = paste0("T", TID)) 
head(pandas)
nrow(pandas)

Parsed with column specification:
cols(
  SID = col_double(),
  TID = col_double(),
  pandas = col_double()
)

  SID          TID          pandas
1 S42101000100 T42101000001 7.105410e-05
2 S42101000100 T42101000127 2.569501e-07
3 S42101000100 T42101000128 7.765014e-07
4 S42101000100 T42101000129 6.323971e-07
5 S42101000100 T42101000366 2.480105e-06
6 S42101000200 T42101000001 1.360001e-06

[1] 1576

In [20]:
spark = read_tsv("~/RIDIR/Datasets/AreaTablesValidation/geospark_area_table.tsv", col_names = c("SID", "TID", "spark"))
head(spark)
nrow(spark)

Parsed with column specification:
cols(
  SID = col_character(),
  TID = col_character(),
  spark = col_double()
)

  SID          TID          spark
1 S42101030800 T42101000310 2.072108e-06
2 S42101030800 T42101000338 3.364890e-06
3 S42101030800 T42101000308 7.854957e-05
4 S42101016100 T42101000179 1.977193e-07
5 S42101016100 T42101000177 4.253465e-08
6 S42101016100 T42101000162 3.141155e-07

[1] 1671

In [22]:
table = spark %>% left_join(pandas, by = c("SID", "TID"))
head(table)

  SID          TID          spark        pandas
1 S42101030800 T42101000310 2.072108e-06 2.252847e-06
2 S42101030800 T42101000338 3.364890e-06 2.774692e-06
3 S42101030800 T42101000308 7.854957e-05 7.836246e-05
4 S42101016100 T42101000179 1.977193e-07 7.107576e-07
5 S42101016100 T42101000177 4.253465e-08           NA
6 S42101016100 T42101000162 3.141155e-07           NA

In [26]:
head(table %>% filter(is.na(pandas)))

  SID          TID          spark        pandas
1 S42101016100 T42101000177 4.253465e-08 NA
2 S42101016100 T42101000162 3.141155e-07 NA
3 S42101016100 T42101000157 1.561973e-07 NA
4 S42101016100 T42101000163 1.792324e-06 NA
5 S42101028500 T42101000282 1.371014e-08 NA
6 S42101034600 T42101000345 2.700547e-09 NA

In [31]:
table = spark %>% inner_join(pandas, by = c("SID", "TID")) %>% 
    mutate(diff = abs(pandas - spark))
head(table)
nrow(table)

  SID          TID          spark        pandas       diff
1 S42101030800 T42101000310 2.072108e-06 2.252847e-06 1.807383e-07
2 S42101030800 T42101000338 3.364890e-06 2.774692e-06 5.901978e-07
3 S42101030800 T42101000308 7.854957e-05 7.836246e-05 1.871065e-07
4 S42101016100 T42101000179 1.977193e-07 7.107576e-07 5.130383e-07
5 S42101016100 T42101000178 1.036240e-06 1.739071e-06 7.028311e-07
6 S42101016100 T42101000161 7.108852e-05 6.949292e-05 1.595604e-06

[1] 951

[1] 951

In [ ]:
ggplot(data = table, aes(x = ))