In [86]:
from shapely.geometry import Polygon
from shapely import wkt
import numpy as np
import pandas as pd
import geopandas as gpd
from tobler import area_tables

In [87]:
DATASET_PATH="/home/acald013/Datasets/ArealTests"
STATE="MD"

In [88]:
data = pd.read_csv("{}/{}_source.wkt".format(DATASET_PATH, STATE), sep = '\t', header = None, names = ["geom", "id"])
data['geom'] = data['geom'].apply(wkt.loads)
source = gpd.GeoDataFrame(data, geometry='geom')
source.head()

                                                geom     id
0  POLYGON ((-76.00703900000001 39.438765, -76.01...  30252
1  POLYGON ((-76.656671 39.283309, -76.6577000000...  30927
2  POLYGON ((-76.6828 39.3719, -76.6828 39.3732, ...  29991
3  POLYGON ((-76.9986 39.4937, -77.002259 39.4892...  30048
4  POLYGON ((-76.4689 39.0364, -76.46816699999999...  29708

In [89]:
source.count()

geom    672
id      672
dtype: int64

In [90]:
data = pd.read_csv("{}/{}_target.wkt".format(DATASET_PATH, STATE), sep = '\t', header = None, names = ["geom", "id"])
data['geom'] = data['geom'].apply(wkt.loads)
target = gpd.GeoDataFrame(data, geometry='geom')
target.head()

                                                geom     id
0  POLYGON ((-76.43777 39.301037, -76.43901199999...  29894
1  POLYGON ((-76.63220099999999 39.198441, -76.63...  29737
2  POLYGON ((-76.03688 39.221225, -76.028221 39.2...  30746
3  POLYGON ((-76.81141099999999 39.390704, -76.81...  29948
4  POLYGON ((-76.46052399999999 39.355685, -76.46...  29999

In [91]:
target.count()

geom    715
id      715
dtype: int64

In [92]:
(SU, UT) = area_tables(source, target)

In [93]:
SU.shape

(672, 4604)

In [94]:
UT.shape

(4604, 715)

In [95]:
tobler = np.dot(SU, UT)

In [96]:
source['id'][0]

30252

In [100]:
count = 1
toblerFile = open("/tmp/geopandas_test.tsv", "w")
for i in range(tobler.shape[0]):
    for j in range(tobler.shape[1]):
        area = tobler[i,j]
        if area > 0:
            toblerFile.write("{}\t{}\t{}\n".format(target['id'][j], source['id'][i], area))
            count = count + 1
toblerFile.close()