In [2]:
library(ggplot2)

In [8]:
path = "/home/acald013/RIDIR/Code//Validation/Source2000/"
spark_intensive = read.table(paste0(path, "geospark_intensive.tsv"), header = F, sep = "\t")
names(spark_intensive) = c("tid", "spark_intensive")
head(spark_intensive)

  tid          spark_intensive
1 T42101000052 0.0007711345
2 T42101000050 0.0018783934
3 T42101000145 0.0086803036
4 T42101000094 0.0090314341
5 T42101000057 0.0101612361
6 T42101000147 0.0114605902

In [9]:
pandas_intensive = read.table(paste0(path, "geopandas_intensive.tsv"), header = F, sep = "\t")
names(pandas_intensive) = c("tid", "pandas_intensive")
head(pandas_intensive)

  tid          pandas_intensive
1 T42101000001 1.3166829
2 T42101000002 0.4605928
3 T42101000003 3.7713033
4 T42101000004 0.9411258
5 T42101000005 0.1346900
6 T42101000006 0.6088216

In [12]:
result = merge(pandas_intensive, spark_intensive, by="tid")
head(result)

  tid          pandas_intensive spark_intensive
1 T42101000001 1.3166829        1.3166829
2 T42101000002 0.4605928        0.4605928
3 T42101000003 3.7713033        3.7656054
4 T42101000004 0.9411258        0.9385042
5 T42101000005 0.1346900        0.1346900
6 T42101000006 0.6088216        0.6088216

In [ ]:
ggplot(data = result, aes(x = pandas_intensive, y = spark_intensive)) + geom_point()